<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{/parts/common.html :: header}"></th:block>
    <title>Товары</title>
</head>

<body>

<th:block th:insert="~{/parts/common.html :: topbar}"></th:block>

<div class="container-fluid">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Идентификатор</th>
                    <th>Наименование</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="goodsItem : ${goods}">
                    <td th:text="${goodsItem.id}"></td>
                    <td th:text="${goodsItem.name}"></td>
                    <td th:text="${#numbers.formatDecimal(goodsItem.price, 0, 'COMMA', 2, 'POINT')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block th:insert="~{/parts/common.html :: script}"></th:block>

</body>

</html>
